/* * {
  box-sizing: border-box;
} */
header {
  width: 90%;
  margin: 30px 200px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}
header h1 {
  color: #000000;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 30px;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
header p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 350px;
  margin-right: 500px;
  margin-top: 30px;
  line-height: 1.5;
}

.hero {
  width: 90%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 200px;
  padding: 40px;
}
.hero h4 {
  position: absolute;
  transform: rotate(90deg);

  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 10px;
}

.hero h5 {
  margin-top: 20px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.img1 h4 {
  margin-left: 265px;
  margin-top: 40px;
}
.img4 h4 {
  margin-left: 275px;
  margin-top: 35px;
}
.img2 h4 {
  margin-left: 270px;
  margin-top: 35px;
}

.img5 h4 {
  margin-left: 280px;
  margin-top: 35px;
}

.img3 h4 {
  margin-left: 280px;
  margin-top: 35px;
}

.img6 h4 {
  margin-left: 275px;
  margin-top: 35px;
}

.cnt1 img,
.cnt2 img,
.cnt3 img {
  height: 350px;
  width: 300px;
}

.cnt1,
.cnt2,
.cnt3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80%;
  width: 40%;
}

.cnt2 {
  margin-top: 100px;
}
footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #a9a9a9;
}
